:root {
    --results-columns: 2;
}

.ListOfCocktails {
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px 16px;
    min-height: 65vh;
}



@media (min-width: 604px) {
    :root {
        --results-columns: 3;
    }
}

@media (min-width: 800px) {
    :root {
        --results-columns: 4;
    }
}