.CocktailCard {
    height: 100%;
    width: 100%;
    border: 3px solid #b09401;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 5px rgba(136, 133, 133, 0.185);

}

.CocktailCard div {
    padding: 10px 10px;
    background: #faf6f2;
    border-radius: 0 0 8px 8px;
}



.CocktailCard h4 {
    background: rgb(212, 158, 141);
    padding: 0px 7px 0px 7px;
    font-family: 'Dancing Script', cursive;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    margin: 0;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 3px solid #b09401;


}

.CocktailCard img {
    width: 100%;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0px 0px 2px 2px;
}

i {
    font-size: 80px;
}

@media (min-width:604px) {
    .CocktailCard {
        width: 16em;
    }

    .CocktailCard img {
        max-height: 20em;
        max-width: 20em;
    }

    .CocktailCard h4 {
        height: 3em;
        font-size: 1.8em;
    }

    .CocktailCard:hover {
        box-shadow: 2px 2px 8px 5px rgba(136, 133, 133, 0.404);

        transform: scale(1.15);
    }

}