.nav {
    height: 4em;
    justify-content: space-between;
    border-bottom: 2px solid #cf856e;
    background-color: #a7978160;
    padding: 1em;

}

ul {
    list-style: none;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-container {
    display: flex;
}


.site-title {
    color: #f1f1f1;
    cursor: pointer;
    width: auto;
    text-align: center;
}

.site-title:hover {
    color: #dad5d5;

}

.browser {
    margin-left: 10px;
    cursor: pointer;
}



.dropdownMenu {
    position: absolute;
    background-color: #f1f1f1;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10em;
    width: 10em;
    right: 10px;
    padding: 8px;
    box-shadow: 2px 2px 10px 3px rgba(97, 94, 94, 0.301);
    transform: translateY(-20);
    transition: var(--speed) ease;
}

.myAccount {
    color: #f1f1f1;
    cursor: pointer;
}

.myAccount:hover {
    color: #dad5d5;

}

.accountSettings {
    cursor: pointer;
    font-size: large;

}

.accountSettings:hover {
    color: #cf856e;
}

.logOut {
    background-color: #dd9b87;
    box-shadow: 2px 2px 10px 3px rgba(97, 94, 94, 0.301);
}

.logOut:hover {
    background-color: #cf856e;
    border-color: tomato;
}

/* .dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.active {
    opacity: 0;
    visibility: none;
    transform: translateY(-20);
    transition: var(--speed) ease;
} */